---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "freshfriedfish.github.io",
  description: "Hi! I'm shaf.",
};
---

<link rel="stylesheet" href="/styles/global.css" />
<Layout {seo}>
  <Container>
    <h1>Hi! I'm shaf.</h1>
    <p>I'm a Computer Science student interested in web development & graphics programming</p>
    <span>
      <a href="https://github.com/freshfriedfish">
        <img
          src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
          width="30px"
        />
      </a></span
    >
    <a href="https://gitlab.com/smanzur">
      <img
        src="https://static-00.iconduck.com/assets.00/gitlab-icon-2048x1885-1o0cwkbx.png"
        width="30px"
      />
    </a>
    <a href="mailto:shafayatmanzur@gmail.com">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3178/3178158.png"
        width="25px"
      />
    </a>
    <a href="https://www.linkedin.com/">
      <img
        src="https://cdn-icons-png.flaticon.com/256/174/174857.png"
        width="25px"
      />
    </span>
    <span id="style-tT1kt" class="style-tT1kt">
    </span>
    </a>
    <a href="https://www.last.fm/user/ranceyera">
      <img
        src="https://cdn2.iconfinder.com/data/icons/social-icon-3/512/social_style_3_lastfm-1024.png"
        width="25px"
      />
    </a>
    <hr />
    <h2>Currently working on</h2>
    <ul>
      <li>Co-founder of <a href="https://svgtools.github.io/"
        ><u>svgtools</u></a 
      ></li>
      <li>...and many things concerning svgtools. Blog coming soon</li>
    </ul>

    <h2>Projects</h2>
    <ul>
      <li>
        <a href="https://github.com/freshfriedfish/radial-designer-old"
          ><u>radial-designer:</u></a
        >Online tool for osu! players to create and export geometric patterns
      </li>
      <li>
        <a href="https://www.npmjs.com/package/svgosu"><u>svgosu:</u></a>Node.js
        CLI for converting SVG files into osu! objects
      </li>
      <li>
        <a href="https://gitlab.com/LibreFoodPantry/client-solutions/nest/NEST"
          ><u>NEST:</u></a
        >NCC's food pantry app
      </li>
      <li>
        <a href="https://github.com/freshfriedfish/freshfriedfish.github.io"
          ><u>Shaf's personal site:</u></a 
        >Thanks for visiting! Built using Astro & deployed using Github Actions
      </li>
    </ul>
    <h2>Yapping</h2>
    <ul>
      <li><a href="blog/drracket"> <u>Dr. Racket, Save Me</u></a></li>
    </ul>

    <div id="yotsuba"></div>
  </Container>
</Layout>
